<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
  [fullscreenControl]="true" [mapTypeControl]="true"> -->
  <!-- <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
    [markerDraggable]="m.draggable">
  </agm-marker> -->

<!-- </agm-map> -->
latitude: <input placeholder="longitute" name="longitute" [(ngModel)]="latitude" required >
longitude: <input placeholder="longitute" name="longitute" [(ngModel)]="longitute" required >
<h2>Coordinates:</h2>
<ul>
    <li *ngFor="let coordinate of coordinates">
      {{ coordinate.lat }},{{coordinate.lng}}
    </li>
  </ul>
  <!-- <input name="lat" [(ngModel)]="lat">
  <input name="lng" [(ngModel)]="lng"> -->
<button type="submit" (click)="onAdd()">Add coordinates</button>
<button type="submit" (click)="onSubmit()">Draw Polygons</button>
<button type="submit" (click)="check()">vs</button>
<div #map class="map"></div>